.hero-bg{
background-color: #F7F193;
}

h1 {
  font-family: "Sriracha", cursive;
  font-weight: 400;
  font-style: normal;
}

h2,h4,h6 {
  font-family: "Kanit", sans-serif;
  font-weight: 400;
  font-style: normal;
  color: #593624;
}


p {
  font-family: "Bai Jamjuree", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.font-brown {
    color: #593624;
}

h4 {
  font-family: "Kanit", sans-serif;
  font-weight: 400;
  font-style: normal;   
}

footer {
    background-color: #593624;
}

.green-bg {
background-color: #D3DB54;
}

.paragraph {
    text-indent: 2em;
}

.yellow-white {
    background: linear-gradient(to bottom, #F7F193, #ffffff);
}

.box {
  border: 2px solid #000;
  border-radius: 15px;
}